# Ignore datasets
/data/

# Common image datasets
*.jpg
*.jpeg
*.png
*.webp
*.bmp
*.gif

# Model artifacts
*.h5
*.pt
*.pth
*.onnx
*.tflite

# Python environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db
ml-service/app/embeddings.npy
ml-service/index/faiss_index.index
ml-service/index/embeddings.npy
